body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;

}

.header{
    font-family: 'Poppins', sans-serif;
}
nav{
    position: fixed;
}

.deadspan{
    color: white;
}

.container-fluid{
    padding-right: 5%;
    padding-left: 5%;
}
.navbar-brand{
    padding-right: 3%;
    padding-left: 8%;
    font-weight: 600;
    font-style: italic;
    text-decoration: underline;
}
.navbar{
    background-color: #242F9B;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}
.navbar-text{
    font-size: 15px;
}
.row>*{
    padding-left: 0;
    padding-right: 0;
}
.container{
    margin: 0;
    margin-left: 2%;
    display: flex;
    justify-content: center;
    /* border-radius: 10px; */
}
.card{
    background-color: white;
    width: 550px;
    height: auto;
    /* border-style: ridge;
    border-width: 1px;
    border-radius: 10px;
    border-color:black ; */

    -webkit-box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.75);
    margin: 25px;
}
.accepted-list{
margin: 5% 10%;
}

.card-head{
    background-color: #e2e2ed;
    display: flex;
    width: 100%;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-details{
    background-color: white;
    width: 100%;
    height:160px ;
    padding: 5%;
}
.name{
    font-size: 24px;
    font-weight: 300;
    /* color: #242F9B; */

    /* font-weight: bold; */
}
.prblmstmt{
    font-size: 18px;
    /* color: #9BA3EB; */
    color: #242F9B;
    /* font-weight: 500; */


}
.pids{
    font-weight: bold;
}

.estimated{
    background-color: #e6e6ff;
    display: flex;
    width: 100%;
    height: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.estm{
    font-weight: bold;
    color: #242F9B;
}

.budget{
    padding: 5%;
    margin-left: 25%;
}
.duration{
    padding: 5%;

}

.logo{
    background-color: whitesmoke;
    width: 100px;
    height: 70px;
    margin: 3% 25% 3% 5%;
    /* margin-right: 2%; */
}
img{
    position: relative;
    max-width: 70px;
    margin-left: 10px;
}
.ugc{
    max-width: 60px;
    margin-top: 2px;
}
.icar{
    max-width: 50px;
}
.card-deadline{
    background-color:#fa9090;
    width: 100px;
    height: 70px;
    margin: 3% 5% 3% 30%;
    /* margin-left: 25%; */
    padding-left:2% ;
}

.btn-primary{
    margin-top: 1%;
    background-color: #242F9B !important;
}

